
.container {               
	text-align: center;
	display: inline;

}


.menuItemContainer {
	text-align: center;
	overflow: hidden;
	padding: 10px;
	margin: 20px;
	display: inline-block;
	background-color: SkyBlue;
	height: 300px;
	width: 200px;


}

.itemPic {
	position: relative;
	margin: 5px;
	padding: 5px
	width: 65%;
	height: 50%;


}

.itemDescription {
	overflow: hidden;
	postion: relative;
	margin: 5px;
	padding: 5px;
	text-align: center;
	height: 30%;




}


{





}